body {
    background: url('../Images/admin1.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
	position:center;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:200%;
  margin-bottom:-40px
}
.login-header h1 {
   text-shadow: 0px 5px 15px orange;
}
.login-form {
  border:2px solid #999;
  background:white;
  border-radius:10px;
  box-shadow:0px 0px 10px orange;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#A8A8A8;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  margin:50px auto;
  text-align:center;
	overflow: hidden;
}
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
	max-width:400px;
  height:30px;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}


.login input:active, .login input:focus {
    border: 1px solid #ff656c;
}

/* === HTML5 validation styles === */	
.login input:required{
	background: #fff url(../Images/red_asterisk.png) no-repeat 98% left;
}

.login input:required:valid{
	background: #fff url(../Images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

.login input:focus:invalid{
	background: #fff url(../Images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.login button {
    width: 20%;
    height: 40px;
    background: #FF8000;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login button:hover {
    background: #A9E2F3;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-400px;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -300px;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}