h5 {
	padding-top : 1%;
}

h4 {
	padding-top: 12px;
}

hr {
	margin-top: 20px;margin-bottom: 20px;border: 10px;border-top: 10px solid #99382c;
	}

select[multiple], select[size] {
    height: auto;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    display: block;
    float: left;
    width: 100%;
}

.moto {
	margin-left : 50px;
	float : left;
	margin-top : 18px;
	color : white;
	font-size : 20px;
	font-family: inherit;
}
.moto p {
	font-size: 14px;
	opacity:.50;
}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
      top: 0;
      width: 100%;
  }

.affix + .container-fluid {
      padding-top: 70px;
  }

.title {
	font-family: inherit;
}

.pull-left {
    padding-left: 20px;
}

.table tr td {
	border:1px;
} 
#batas{
	min-height : 290px;
}
.container {
	width:100%;
	padding-left:0%;
	padding-right:0%;
	padding-top : 7px;
	padding-bottom :2px;
}

#header {
    width: 100%;
    height: auto;
    background: #0099b4;
    padding: 20px 0px;
}

.row2 {
	margin-top		:24px;
	margin-bottom	:0px;
}

#slideshow {
	::awal memberikan efek slider dengan combine slider,js;
	width		: 100%;	
	max-width	: 100% !important;
	height		: 380px;
}
		
#slideshow > div {
	position	: absolute;
	width		: 100%;	
	max-width	: 100% !important;
	height		: 380px;
	::akhir memberikan efek slider dengan combine slider,js;
}

.navbar{
	border-radius : 0px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    margin-top: 12px;
}
.navbar-nav {
	/*
    float: left;
    margin-top: 12px;
	margin: px -15px;
	margin-left: 12%;
	*/
}

.navbar-nav-ketua {
    float: left;
    margin-top: 12px;
	margin: px -15px;
	margin-left: 19%;
	margin: 0;
	margin: 7.5px -15px;
}

.bg-menu {
    margin-top: 12px;
	margin: px -15px;
}

.bg-menu li{
	text-align : center;
	position   : align-center;
	list-style : none outside none;
	margin	   : 10px 10px 0px 10px;
	font-size  : 18px;
	font-style : bold;
	color	   : black;
	cursor	   : Pointer;
	padding	   : 5px 7px 5px 7px;
	display	   : inline-block;
}

.bg-menu  a{
	float			: left;
	list-style		: none;
	color			: #000;
	text-decoration	: none;
	font-weight		: bold;	
}
.navbar-nav > li > a.active {
    background: #2B75B4;
    border-top-color: black;
    margin-top: 2px;
}
.dropdown-menu > li > a.active {
	background: #2b75b4;
}
.navbar-inverse {
    background: #282829;
    border-top-color: #FFF;
	}
.navbar-inverse .navbar-brand {
    color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #C8331A;
    background-color: transparent;
    margin-top: 1px;
}	
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #333;
    border-radius: 0;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #CC6633;
    background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color:#89170f;
    background-color: #2b75b4;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-top: 9px solid orange;
    border-bottom: 2px solid orange;
}
ul{
	margin-bottom: 0%;
	padding-left : 0%;
	padding-right : 0;
}

.width_full {
    width	: 95%;
}

.module {
    border					: 1px solid maroon;
    width					: 100%;
    margin-top				: 5px;
	margin-bottom			: 5px;
    -webkit-border-radius	: 5px;
    -moz-border-radius		: 5px;
    border-radius			: 5px;
    background				: #ffffff;

}

.module header {
    min-height						: 38px;
	max-height						: auto;
    width							: 100%;
    background						: #EEEEEE; 
    -webkit-border-top-left-radius	: 5px;
    -webkit-border-top-right-radius	: 5px;
    -moz-border-radius-topleft		: 5px;
    -moz-border-radius-topright		: 5px;
    border-top-left-radius			: 5px;
    border-top-right-radius			: 5px;
	border-bottom					: 0.1px solid maroon;
	margin-top						: -10px;
	font-family						: inherit;
}

section#secondary_bar .user {
    float	: left;
	cursor	: pointer;
	margin-top: -4px;
}

.user  {
    margin		: 0;
    padding		: 0;
    color		: #666666;
    font-weight	: bold;
    display		: block;
    float		: left;
    line-height	: 35px;
    text-indent	: 25px;
    text-shadow	: 0 1px 0 #fff;
    background	: url(../Images/icn_user.png) no-repeat center left;
    margin-left	: 6%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-size: 14px;
}

.user a:hover {
    text-decoration	: none;
    color			: #666666;
	background	    : #A9BCF5;
	border-radius	: 5px;
}

.user a {
    text-decoration	: none;
    color			: #666666;
}

#bataskiri {
	padding			: 0px 10px 0px;
	padding-right	: 10px;
	margin-top		: -18px;
	margin-bottom	: -21px;
}

.module_content {
    margin	: 10px 20px;
    color	: #666;
}

.tbl_form td {
    margin	: 0;
    padding	: 0;
    padding	: 2px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*----------Comen CSS Untuk Modal-----------------------------*/
.form-control {
	padding-bottom : 0%;
	padding-top	: 0%;
	padding-left : 0%;
}
/*----------And Comen CSS Untuk Modal-----------------------------*/

/*----------Comen-----------------------------*/
.comen1 {
	comen :Css Untuk Beranda ;
}

.col-md-offset-4 {
    margin-left: -1.7%;
}
.col-md-4 {
    width: 100%;
}

.form-group select {
    border					: 1px solid #77BACE;
    height					: 30px;
    padding-left			: 5px;
    font-family				: Verdana, Helvetica, Arial, sans-serif;
    background				: #F8F8F8;
    background-color		: rgb(248, 248, 248);
    background-image		: none;
    background-repeat		: repeat;
    background-attachment	: scroll;
    background-position		: 0% 0%;
    background-clip			: border-box;
    background-origin		: padding-box;
    background-size			: auto auto;
    font-size				: 11px;
    border-radius			: 8px;
    border-top-left-radius	: 8px;
    border-top-right-radius	: 8px;
    border-bottom-right-radius	: 8px;
    border-bottom-left-radius	: 8px;
}

input[type="text"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
	text-transform:capitalize;
}

input[type="password"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
}

input[type="text"]:focus {
	box-shadow	: 0 0 3px blue;
}

input[type="email"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
}
input[type="email"]:focus {
	box-shadow	: 0 0 3px blue;
}

/* === HTML5 validation styles === */	
input:required, .tbl_form select:required, .tbl_form select:required, .tbl_form radio:required {
	background: #fff url(../Images/red_asterisk.png) no-repeat 98% center;
}
input:required:valid, .tbl_form select:required:valid, .tbl_form select:required:valid, .tbl_form radio:required:valid {
	background: #fff url(../Images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
input:focus:invalid, .tbl_form select:focus:invalid, .tbl_form radio:required:invalid {
	background: #fff url(../Images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.And-comen1 {
	And-comen :Css Untuk Beranda ;
}

footer {
	background	: #000;
	margin-top	: 4%;
	float		: left;
	text-align	: center;
	color		: #fff;
	width		:100%;
	bottom		:0;
	left		:0;
	position:relative;

}