*{
	margin	: 0;
	padding	: 0;
	float	: center;
}


#wrapper{
	width	:auto;
	margin  :0px;
}


.f-nav {
	//*wal membuat navigasi Freeze/fixed pada pilihan tab menu di combine dengan "demojs"*//
    z-index		: 9999;
    position	: fixed;
    left		: 0px;
    top			: 23px;
    width		: 100%;
    padding		: 0 20px;
	//*wal membuat navigasi Freeze/fixed pada pilihan tab menu di combine dengan "demojs"*//
}

.row {
	width	: 100%;
	height	: auto;
}

.row2 {
	margin-top		:24px;
	margin-bottom	:0px;
}

.top-bar {
	padding	: 5.5px 0;
	color	: green;
}

.text-right {
	text-align	: right;
}

.container {
	width	: 1300px;
	height	: auto;
	margin	: 0 auto;
}

.bg-title {
	::wal membuat navigasi Freeze/fixed pada hider secara manual;
	background	: url('../Images/Hider-up.png') top center;
	font-size	: 10px;
	color		: green;
	text-align	: right;
	position	: fixed;
	top			: 0px;
	//*akhir membuat navigasi Freeze/fixed pada hider secara manual*//
}

.bg-menu {
	background	: url("../Images/Hider.png") top center;
}

.bg-menu li{
	text-align : center;
	position   : align-center;
	list-style : none outside none;
	margin	   : 0px 10px 0px 10px;
	font-size  : 20px;
	font-style : bold;
	color	   : blue;
	cursor	   : Pointer;
	padding	   : 5px 7px 5px 7px;
	display	   : inline-block;
}

.bg-menu li a:hover{
	::memberikan efek bila ditunjuk oleh korsor;
	float			: left;
	list-style		: none;
	color			: #000;
	text-decoration	: none;
	font-weight		: bold;
	background		: #fff;
	border			: 1px solid blue;
	border-radius	: 5px;	
	padding			: 0px 5px 0px 5px;
}

.bg-menu  li .current{
	::memberikan efek warna bila menu dipilih;
	list-style		: none;
	color			: #000;
	text-decoration	: none;
	font-weight		: bold;	
	background		: #fff;
	border			: 1px solid blue;
	border-radius	: 5px;	
	padding			: 0px 5px 0px 5px;
}

.bg-menu  a{
	float			: left;
	list-style		: none;
	color			: #000;
	text-decoration	: none;
	font-weight		: bold;	
}


li{
	padding	: 5px 7px 5px 7px;
}

#banner-fade {
	width		: 100%;	
	max-width	: 100% !important;
	height		: 380px;
}

#slideshow {
	::awal memberikan efek slider dengan combine slider,js;
	width		: 100%;	
	max-width	: 100% !important;
	height		: 380px;
}
		
#slideshow > div {
	position	: absolute;
	width		: 100%;	
	max-width	: 100% !important;
	height		: 380px;
	::akhir memberikan efek slider dengan combine slider,js;
}

input[type="text"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
	text-transform:capitalize;
}

input[type="password"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
}

input[type="text"]:focus {
	box-shadow	: 0 0 3px blue;
}

input[type="email"] {
	border-radius: 5px;
	outline:none;
	border: 1px solid #ccc;
	padding:5px;
	border: 1px solid #77BACE;
}
input[type="email"]:focus {
	box-shadow	: 0 0 3px blue;
}

.paddingDS {
	margin-top : 50px;	
}

.width_full {
    width	: 95%;
}

.module {
    border					: 1px solid #9BA0AF;
    width					: 100%;
    margin-top				: 5px;
    -webkit-border-radius	: 5px;
    -moz-border-radius		: 5px;
    border-radius			: 5px;
    background				: #ffffff;

}

.module header {
    height							: 38px;
    width							: 100%;
    background						: #F1F1F4 url(../Images/secondary_bar.png) repeat-x;
    -webkit-border-top-left-radius	: 5px;
    -webkit-border-top-right-radius	: 5px;
    -moz-border-radius-topleft		: 5px;
    -moz-border-radius-topright		: 5px;
    border-top-left-radius			: 5px;
    border-top-right-radius			: 5px;
}

#moto {
    color		: #fff;
    font-size	: 15px;
    font-weight	: bold;
    text-align	: left;
	padding		: 0px 0px 10px 0px;
}

.module_content {
    margin	: 10px 20px;
    color	: #666;
}

.tbl_form td {
    margin	: 0;
    padding	: 0;
    padding	: 2px;
}

footer {
	background	: #000;
	width		: 100%;
	float		: left;
	padding		: 10px 0;
	margin-top	: 30px;
	text-align	: center;
	color		: #fff;
}

#bataskiri {
	padding			: 0px 10px 0px;
	padding-right	: 10px;
}

#bataskiri2 {
	padding			: 0px 250px 0px;
	padding-right	: 10px;
}

#bataskiri3 {
	padding			: 0px 250px 0px;
	padding-right	: 10px;
}

.tbl_form select {
    border					: 1px solid #77BACE;
    height					: 30px;
    padding-left			: 5px;
    font-family				: Verdana, Helvetica, Arial, sans-serif;
    background				: #F8F8F8;
    background-color		: rgb(248, 248, 248);
    background-image		: none;
    background-repeat		: repeat;
    background-attachment	: scroll;
    background-position		: 0% 0%;
    background-clip			: border-box;
    background-origin		: padding-box;
    background-size			: auto auto;
    font-size				: 11px;
    border-radius			: 8px;
    border-top-left-radius	: 8px;
    border-top-right-radius	: 8px;
    border-bottom-right-radius	: 8px;
    border-bottom-left-radius	: 8px;
}

/*.tbl_form input#tombol {	
    height		: 32px;
    background	: #C6E28B;
    font-size	: 13px;
	outline		: none;
}

.tbl_form input#tombol:hover{
    background	: #A9E2F3;
}*/

input[type="submit"] {
    border			: 1px solid #A8A9A8;
    height			: 22px;
	width			: 50px;
    border-radius	: 5px;
    padding			: 0 1px;
    cursor			: pointer;
	outline		    : none;
	background-color: #B9DFFF;
}

section#secondary_bar {
    height		: 38px;
    width		: 100%;
    background	: #F1F1F4 url(../Images/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
    float	: left;
    width	: 17.9%;
    height	: 38px;
}

.user p {
    margin		: 0;
    padding		: 0;
    color		: #666666;
    font-weight	: bold;
    display		: block;
    float		: left;
    width		: 85%;
    height		: 35px;
    line-height	: 35px;
    text-indent	: 25px;
    text-shadow	: 0 1px 0 #fff;
    background	: url(../Images/icn_user.png) no-repeat center left;
    margin-left	: 6%;
}

.user a:hover {
    text-decoration	: none;
    color			: #666666;
	background	    : #A9BCF5;
	border-radius	: 5px;
}

.user a {
    text-decoration	: none;
    color			: #666666;
}

section#secondary_bar .breadcrumbs_container {
    float		: left;
    width		: 77%;
    background	: url(../Images/secondary_bar_shadow.png) no-repeat left top;
    height		: 30px;
}

article.breadcrumbs {
    float					: left;
    padding					: 0 10px;
    border					: 1px solid #ccc;
    -webkit-border-radius	: 5px;
    -moz-border-radius		: 5px;
    border-radius			: 5px;
    -webkit-box-shadow		: 0 1px 0 #fff;
    -moz-box-shadow			: 0 1px 0 #fff;
    box-shadow				: 0 1px 0 #fff;
    height					: 23px;
    margin					: 4px 3%;
}

.breadcrumb_divider {
    display		: inline-block;
    width		: 12px;
    height		: 24px;
    background	: url(../Images/breadcrumb_divider.png) no-repeat;
    float		: left;
    margin		: 0 5px;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color			: #44474F;
    text-decoration	: none;
    text-shadow		: 0 1px 0 #fff;
    font-weight		: bold;
}

.breadcrumbs a {
    display		: inline-block;
    float		: left;
    height		: 24px;
    line-height	: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
    color			: #9E9E9E;
    font-weight		: bold;
    text-shadow		: 0 1px 0 #fff;
    text-decoration	: none;
}
aside#sidebar {
    width		: 18%;
    background	: #E0E0E3 url(../Images/sidebar.png);
    float		: left;
    min-height	: 200px;
    margin-top	: -4px;
}

#sidebar h3 {
    color			: #1F1F20;
    text-transform	: uppercase;
    text-shadow		: 0 1px 0 #fff;
    font-size		: 13px;
    margin			: 10px 0 10px 6%;
    display			: block;
    float			: left;
    width			: 90%;
}

#sidebar a:hover {
    color			: #666666;
    text-decoration	: none;
	background		:#b3c7dc;
	border-radius	: 5px;
}
#sidebar a {
    color			: #666666;
    text-decoration	: none;
}

.toggleLink {
    color			: #999999;
    font-size		: 10px;
    text-decoration	: none;
    display			: block;
    float			: right;
    margin-right	: 2%;
}

#sidebar ul {
    clear			: both;
    margin			: 0;
    padding			: 0;
	margin-bottom	:5px;
}

#sidebar li:hover {
    list-style	: none;
    margin		: 0 0 0 12%;
    padding		: 0;
	background 	: #b3c7dc;
	border-radius	: 5px;
}

#sidebar li{
    list-style	: none;
    margin		: 0 0 0 12%;
    padding		: 0;
}

#sidebar li.icn_new_article a {
    background	: url(../Images/icn_new_article.png) no-repeat center left;
}

#sidebar li.icn_folder a {
    background	: url(../Images/icn_folder.png) no-repeat center left;
}

#sidebar li a {
    color			: #000;
    padding-left	: 25px;
    text-decoration	: none;
    display			: inline-block;
    height			: 17px;
    line-height		: 17px;
    text-shadow		: 1px 1px 1px 1px maroon;
    margin			: 2px 0;
}

#btnakun button {
	::efek pada btn daftar akun;
    background: #C6E28B;
    border-radius: 5px;
    border: 1px solid #A9F5BC;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    cursor: pointer;
	padding: 2px 20px 2px 20px;
}

#btnakun button:hover {
	::end efek pada btn daftar akun;
    background: #A9E2F3;
}

/* === HTML5 validation styles === */	
.tbl_form input:required, .tbl_form select:required, .tbl_form select:required, .tbl_form radio:required {
	background: #fff url(../Images/red_asterisk.png) no-repeat 98% center;
}
.tbl_form input:required:valid, .tbl_form select:required:valid, .tbl_form select:required:valid, .tbl_form radio:required:valid {
	background: #fff url(../Images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.tbl_form input:focus:invalid, .tbl_form select:focus:invalid, .tbl_form radio:required:invalid {
	background: #fff url(../Images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}


