body{
	padding:0;
	margin:0;
	font-family:time;
	
}
#main-wrapper{
	border:3px double maroon;
	padding:5px;
	width:1000px;
	height: 1420px;
	margin:2px auto 0px;
	font-family:time new romans;
	font-size:12px;
}
table{
	padding:5px;
	padding-left:60px;
	width:94%;
}
#main-wrapper p    { text-align: left;}
#main-wrapper p   { text-align: right;}
.center  { text-align: center;}
.justify { text-align: justify;}

.text-center{
	text-align: center !important;
}
.kop-surat {
	margin: 1px;
	padding-left:60px;
	padding-right:60px;
}
.kop-surat > h1,h2,p{
	margin: 1px; !important;
	text-align: center !important;
}
.kop-surat > p{
	margin: 0px !important;
}

.kop-surat > table{
	padding-left:0px !important;
}

.header-border{
	border: 0;
	border-top: 4px double #000000;
	border-bottom: 1px solid #ffffff;
}

@media print {
	.no-print {display:none !important;}
	.form-group.no-print {display:none !important;}
}
