.sh-mainpanel {
  margin-left: 5px;
  margin-right: 5px; }

.sh-headpanel {
  left: 0px; }

.moto {
  margin-left: 50px;
  margin-right: 10px;
  float: left;
  margin-top: 18px;
  color: white;
  font-size: 20px;
  font-family: inherit; }
  .moto p {
    font-size: 14px;
    opacity: .50; }

/*# sourceMappingURL=global.css.map */
